# Ignore everything
*

!.gitignore
!.gitconfig
!.hooks/
!.hooks/**
!repo.config.json
!workflow.yaml
!image-formats.txt
!bin/
!bin/**

!git-template

# Icons and source images (webp/ and namespaced subdirs: webp/aws/, webp/macos/, etc.)
!webp/
!webp/**
